body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://wallpapers.com/images/hd/dynamic-blue-geometric-triangles-7ynx1u1jkbjylwrk.jpg');
  background-size: cover;
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  height: 100vh; /* Ensure body covers the entire viewport height */
}

.container {
  max-width: 600px;
  margin: 20px auto; /* Adjusted top and bottom margin */
  padding: 30px; /* Adjusted padding */
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #333;
  font-size: 32px;
  margin-bottom: 20px; /* Adjusted bottom margin */
}

.input-container {
  margin-bottom: 15px; /* Adjusted margin */
}

label {
  display: block;
  margin-bottom: 5px; /* Adjusted margin */
  color: #555;
  font-size: 20px;
}

input[type="number"] {
  width: calc(100% - 10px);
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}

button {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background-color: #0056b3;
}

#output {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#distanceOutput {
  font-size: 40px;
  font-weight: bold;
  color: #4CAF50; /* Green color */
  margin-bottom: 20px;
}

#frame {
  width: var(--frameWidth);
  height: var(--frameHeight);
  border: 2px solid black;
  position: relative;
  margin: 0 auto; /* Center the frame horizontally */
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#subject {
  background-color: red; /* Subject color */
  position: absolute;
  top: 50%;
  left: 50%; /* Add left: 50% to move the subject's left edge to the center of its container */
  transform: translate(-50%, -50%) translateY(calc(var(--subjectYDisplacement)*var(--frameHeight)));
  height: calc(var(--subjectHeight)*var(--frameHeight));
  width: calc(var(--subjectWidth)*var(--frameHeight));
}

#previewText {
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px; /* Adjust the bottom margin */
}